.firstdiv{
    padding-top: 20px;
    padding: 20px;
}

.logo{
    text-align: center;
    width: 100px;
    height: auto;

}

#secpart h1{
    margin-bottom: 30px;
    color: #333;
    text-align: center;
    text-shadow: none;
    font-family: Lucida Console;
    font-weight: 100;
}

#secpart label{
    display: block;
    margin-bottom: 7px;
    text-align: left;
    font-size: 14px;
    font-weight: 400;
}

.inputbox{
    background-color: #fff;
    width: 308px;
    margin: 0 auto;
    border-radius: 5px;
    padding: 20px;
    font-size:14px ;
    border: 1px solid #d8dee2;
}

.labellink{
    float: right;
    font-size:12px ;
    color: #0366d6;
    text-decoration: none;
}
.input{
    margin-top: 5px;
    margin-bottom: 15px;
    min-height: 34px;
    display: block;
    width: 100%;
    font-size: 16px;
    color: #24292e;
    line-height: 20px;
    background-position: right 8px center;
    border: 1px solid #d1d5da;
    border-radius:3px;
    outline: none;
    box-shadow: inset 0 1px 2px rgba(27,31,35,.075);
}

.btn{
    margin-top: 20px;
    display: block;
    width: 100%;
    text-align: center;
    color: #FFFFFF;
    background-color: #28a745;
    background-image: linear-gradient(-180deg,#34d058,#28a745 90%);
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 600;
    border-radius: .25em;
    border: 1px solid rgba(27,31,35,.2); ;
}

#secpart p{
    margin-top: 25px;
    margin-bottom: 10px;
}

.ads{
    padding: 15px 20px;
    text-align: center;
    border: 1px solid #D8DEE2;
    border-radius: 5px;
    width: 308px;
    margin: 0 auto;
}

.reg{
    text-decoration: none;
    color: #0366d6;
}
